@font-face {
    font-family: 'arsenalregular';
    src: url('/fonts/arsenal-regular-webfont.eot');
    src: url('/fonts/arsenal-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/arsenal-regular-webfont.woff') format('woff'),
    url('/fonts/arsenal-regular-webfont.ttf') format('truetype'),
    url('/fonts/arsenal-regular-webfont.svg#arsenalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#debug_content {
    outline: 0 solid !important;
    padding: 0 !important;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif,monospace,arsenalregular;
    width: 100%;
    left: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    bottom: 0 !important;
    background-color: #002d4f;
    color: white;
    z-index:10000;
}

#debug_content_status {
    width:40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.devtoolbar_status_ok {
    background-color: #6ac334;
}

.devtoolbar_status_warning {
    background-color: #f48000;
}

.devtoolbar_status_notice {
    background-color: #ffcb2c;
}


#debug_content_route ul {
    display: none;
    min-width: inherit;
    width: inherit;
    box-sizing: border-box;
    bottom: 40px;
    position: fixed;
    min-height: 100px;
    background-color: #4e4b49;
    clear: both;
    z-index: 1000;
    font-size: 14px;
    color: white;
}

#debug_content_route {
    padding-left: 10px;
    padding-right: 10px;
}
#debug_content_route:hover > ul{
    display: block !important;
}

#debug_content_route span {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

#debug_content_route img {
    margin-left: 10px;
}



li#files{
    min-width:20px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: left;
    float: left;
    border-right: 1px solid #dee0df;
    position: relative;

    overflow: auto;
}
li#files p{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
}
li#files:hover >  ul{
    display: block !important;
}

li#files ul{
    display: none;
    min-width: inherit;

    box-sizing: border-box;
    bottom: 40px;
    position: fixed;
    min-height: 100px;
    max-height: 300px;
    overflow: scroll;
    background-color: #4e4b49;
    clear: both;
    z-index: 1000;
}







@keyframes sonar { 
  0% {transform: scale(.9); opacity:1;}
  100% {transform: scale(2);opacity: 0;}
}
@keyframes pulse {
  0% {transform: scale(1);}
  20% {transform: scale(1.7); } 
  50% {transform: scale(.9);} 
  80% {transform: scale(1.7);} 
  100% {transform: scale(1);}
}

.dev_toolbar_plus{
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #6ac334;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-left: 10px !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}


#debug_content #ajax {
    background-color: #778c8c;  display: block; float: left; height: 40px; line-height: 40px; min-width: 50px; padding-left: 0; padding-right: 0;
}

#debug_content #ajax_list {
    color: white;margin: 0 auto;min-width: 300px; margin-top: 20px; margin-bottom: 20px;overflow: auto;padding:10px;
}



#debug_content a{
    color: white;
    
}

#debug_content ul {
    list-style-type: none;
}

#debug_content ul img{
    width: 30px;height: 28px;vertical-align: middle !important;
    float: left;margin-top: 7px;
    
}

#debug_content *{
    padding: 0;
    margin: 0;
}

#debug_content::before1{
    width: 40px; height: 100px; content: attr(data-attr); background-color: red; position: absolute; left: -40px;
     pointer-events:auto;
}

.show {
    left: 0 !important;
    margin: 0;
}

#debug_content:hover{
//    left: 0px;
//    margin: 0px;
}




#debug ul{
    padding: 0;
    margin: 0;
    font-family: arsenalregular;
}
    ul#con{
        min-width:20px;
        height: 40px; 
        display: block;
        line-height: 40px;
        text-align: center;
        float: left;
        border-right: 1px solid #dee0df;
                position: relative;
        max-width: 700px;
        overflow: auto;
        
    }
    ul#con p{
        font-family: arsenalregular;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: normal;
        font-size: 13px;
    }    
    li#con:hover >  li{
       display: block !important;
    }
    
     ul#con li{
        display: none;
        min-width: inherit;
        width: inherit;
        box-sizing: border-box;
        bottom: 20px;
        position: fixed;
        min-height: 100px;
        background-color: #4e4b49;
        clear: both;
        z-index: 1000;
        font-size: 14px;
    }
    ul#debug_app_info li table{
        font-size: 14px;
        font-family: arsenalregular;
    }
    ul#debug_app_info table tr td.first{
        min-width: 30%;text-align: right;
    }

    ul#debug_app_info table tr td.second{
        padding-left: 10px;
    }

    li#ajax{
        min-width:20px;
        height: 40px; 
        display: block;
        line-height: 40px;
        text-align: left;
        float: left;
        position: relative;
        overflow: visible;
    }
    li#ajax p{
        padding-left: 10px;
        padding-right: 10px;
        font-weight: normal;
    }    
    li#ajax:hover >  li{
       display: block !important;
    }
    
     li#ajax li{
        display: none;
        min-width: inherit;
        
        box-sizing: border-box;
        bottom: 40px;
        position: fixed;
        min-height: 100px;
        overflow: scroll;
        background-color: #4e4b49;
        clear: both;
        z-index: 1000;
    }
.pulse {
	animation-name: pulse;
	animation-duration: 2000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.span_show{
    display: block !important;
    opacity: 1 !important;
}

#ajax_request {

    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    display: block;
    float: right;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    min-height: 10px;
    min-width: 10px;
    padding-left: 2px;
    right: 0;
    top: 9px;
    margin-left: 5px;
}



    
    
    li#database{
        min-width:20px;
        height: 40px; 
        display: block;
        line-height: 40px;
        text-align: center;
        float: left;
        position: relative;
        background-color: #6ac334;
        overflow: auto;
    }
    li#database p{
        padding-left: 10px;
        padding-right: 10px;
        font-weight: normal;
    }    
    li#database:hover >  ul{
       display: block !important;
    }
    
     li#database ul{
        display: none;
        min-width: inherit;
        
        box-sizing: border-box;
        bottom: 40px;
        position: fixed;
        min-height: 100px;
        max-height: 300px;
        overflow: scroll;
        background-color: #4e4b49;
        clear: both;
        z-index: 1000;
    }    
    
    
    li#warning{
        min-width:40px;
        height: 40px; 
        display: block;
        line-height: 40px;
        text-align: center;
        float: left;
        position: relative;
        overflow: auto;        
        background-color: #f48000;
        padding-left: 10px;
        padding-right: 10px;        
    }
     li#warning ul{
        display: none;
        min-width: inherit;
        
        box-sizing: border-box;
        bottom: 40px;
        position: fixed;
        min-height: 100px;
        max-height: 300px;
        overflow: scroll;
        background-color: #4e4b49;
        clear: both;
        z-index: 1000;
        padding-left: 10px;
        padding-right: 10px;
    }     
    
    li#warning:hover > ul{
        display: block !important;
    }
    li#warning li span{
        text-align: left;
    }
    
    li#notice{
        min-width:40px;
        height: 40px; 
        display: block;
        line-height: 40px;
        text-align: center;
        float: left;
        position: relative;
        overflow: auto;        
        background-color: #ffcb2c;
        padding-left: 10px;
        padding-right: 10px;        
    }
         li#notice ul{
        display: none;
        min-width: inherit;
        
        box-sizing: border-box;
        bottom: 40px;
        position: fixed;
        min-height: 100px;
        max-height: 300px;
        overflow: scroll;
        background-color: #4e4b49;
        clear: both;
        z-index: 1000;
        padding-left: 10px;
        padding-right: 10px;
    }     
    
    li#notice li span{
        text-align: left;
    }
    
    li#notice:hover > ul{
        display: block !important;
    }
    
    
        li#template_info:hover > ol{
        display: block !important;
    }
    
        li#template_info{
        min-width:20px;
        height: 40px; 
        display: block;
        line-height: 40px;
        text-align: left;
        float: left;
        position: relative;
        overflow: auto;        
        background-color: #1065CC;
        padding-left: 10px;
        padding-right: 10px;
    }
        li#template_info ol li b{
            color: #002d4f;
        }
        li#template_info ol{
        display: none;
        min-width: inherit;
        max-width: 700px;
        box-sizing: border-box;
        bottom: 40px;
        position: fixed;
        min-height: 100px;
        max-height: 320px;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: white;//#4e4b49;
        clear: both;
        z-index: 1000;
        padding-left: 10px;
        padding-right: 10px;
            border: 1px solid #d9d9d9;
            color: gray;
    }

            li#template_info ol li {
                background-color: #4e4b49;;
            }

         li#template_info li div ol {
             width: 300px;
         }

        li#template_info li ol[name=folding]{
             margin-right: 10px ;
         }

        li#template_info ol li div {
            display: none; height: 200px; overflow: auto; background-color: grey;
        }
    li#template_info:hover > li{
        display: block !important;
    }


    #devtoolbar_buffer{
        margin-top: 30px;
    }

    #devtoolbar_buffer div {
        display: block;font-family: monospace;padding: 9.5px;margin: 0 0 10px;font-size: 13px;line-height: 1.42857143;color: #333;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc;border-radius: 4px;
        min-height: 200px;max-height: 600px;overflow: auto; margin: 50px;
    }

    #devtoolbar_buffer h2{
        margin-left: 50px;
    }


.ol {
    counter-reset: list_counter;
}

#list_array {
    counter-reset: list_dd_counter;
    display: none;
}

li#template_info ol {
    padding-top: 5px;
    padding-bottom: 5px;
}

li#template_info ol li:before {
    content: counter(list_counter);
    counter-increment: list_counter;
    position: absolute;
    left: -2.5em;
    top: 12px;
    margin-top: -1em;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    color: #fff;
    background-color: #1065CC;//#d81b60;
    font-weight: 600;
}

li#template_info ol li {

    position: relative;
    display: block;
    padding: 0 .4em 0 .8em;
    margin: .2em 0 0 2.5em;
    background: rgba(232, 232, 232, 0.48);
    color: #343434;
    text-decoration: none;
    transition: all .3s ease-out;
    //padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 26px;
    //height: 26px;
}

li#template_info ol li ul#list_array li:before {
    content: counter(list_dd_counter);
    counter-increment: list_dd_counter;
    position: absolute;
    left: -2.5em;
    top: 12px;
    margin-top: -1em;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    color: #fff;
    background-color: #1065CC;//#d81b60;
    font-weight: 600;
}

ul#list_array li{

    position: relative;
    display: block;
    padding: 0 .4em 0 .8em;
    margin: .2em 0 0 2.5em;
    background: rgba(232, 232, 232, 0.48);
    color: #343434;
    text-decoration: none;
    transition: all .3s ease-out;
//padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 26px;

}

#debug_content_route ul li:before{
    content: attr(data-name);
    position: absolute;
    left: -2.5em;
    top: 12px;
    margin-top: -1em;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    color: #fff;
    background-color: #1065CC;//#d81b60;
    font-weight: 600;
}